{% extends "base.html" %} {% block content %}
<div class="blog-list">
  <h1>Blog Posts</h1>

  {% for post in posts %} {% if post.is_published %}
  <div class="post-preview">
    <h2><a href="/blog/{{ post.title }}">{{ post.title }}</a></h2>
    <p>{{ post.date.strftime('%B %d, %Y') }}</p>
    <div class="tags">
      {% for tag in post.tags %}
      <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/utils.module.css" />
<style>
  .blog-list {
    max-width: 800px;
    margin: 0 auto;
  }

  .post-preview {
    margin-bottom: 2rem;
  }

  .post-preview h2 {
    margin-bottom: 0.5rem;
  }

  .post-preview h2 a {
    color: inherit;
    text-decoration: none;
  }

  .post-preview h2 a:hover {
    text-decoration: underline;
  }

  .tags {
    margin-top: 0.5rem;
  }

  .tag {
    display: inline-block;
    background-color: #eee;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
  }
</style>
{% endblock %}
